api/data/.flows.json.backup
[{"id":"ce1fb428.aeac38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f56ebb1.75a6e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bd987ed0.bc81d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9863dd2.ad0df2","type":"ttn app","z":"","appId":"test-app-18519961","accessKey":"ttn-account-v2.l6X59GYMyTUmjjjpcekrr-DSOXg0H0gNvHDPoafQrLA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"72df5694.0123e8","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"ttn_test_db","tz":""},{"id":"d84ecba.bbb9738","type":"function","z":"ce1fb428.aeac38","name":"Convert Payload","func":"var tmp = {};\ntmp.payload = {\n    \"pedl\"   : msg.payload_fields.PersonLeft,\n    \"pedr\"   : msg.payload_fields.PersonRight,\n    \"cyclel\" : msg.payload_fields.CycleLeft,\n    \"cycler\" : msg.payload_fields.CycleRight,\n    \"temp\"   : msg.payload_fields.Temp,\n    \"devid\"  : msg.hardware_serial,\n};\nreturn tmp;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["edcb0cbb.32186","ffba6543.b38d08"]]},{"id":"c98966e.3ee7a98","type":"ttn uplink","z":"ce1fb428.aeac38","name":"","app":"9863dd2.ad0df2","dev_id":"test-device-18519961","field":"","x":120,"y":120,"wires":[["d84ecba.bbb9738"]]},{"id":"c687dc9a.25386","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["660d1190.a50b7"]]},{"id":"d2205eee.2c222","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"200","headers":{},"x":1100,"y":80,"wires":[]},{"id":"edfcef4d.e7f2f","type":"mysql","z":"8f56ebb1.75a6e8","mydb":"72df5694.0123e8","name":"ttn db","x":590,"y":180,"wires":[["66a49088.37325"]]},{"id":"660d1190.a50b7","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT All","func":"msg.topic = \"SELECT * FROM sensor_data\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["edfcef4d.e7f2f"]]},{"id":"10efeb25.b5e855","type":"debug","z":"8f56ebb1.75a6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":320,"wires":[]},{"id":"edcb0cbb.32186","type":"http request","z":"ce1fb428.aeac38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:1880/sensor-data","tls":"","proxy":"","authType":"basic","x":590,"y":120,"wires":[["ffba6543.b38d08"]]},{"id":"db231de7.8a21e","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-data","method":"post","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["720406fd.e0e5c8"]]},{"id":"720406fd.e0e5c8","type":"function","z":"8f56ebb1.75a6e8","name":"INSERT Sensor Data","func":"msg.topic = \"INSERT INTO sensor_data \" +\n            \"VALUES (\" +\n            msg.payload.pedl + \",\" +\n            msg.payload.pedr + \",\" +\n            msg.payload.cyclel + \",\" +\n            msg.payload.cycler + \",\" +\n            msg.payload.temp + \",\" +\n            msg.payload.devid + \",\" +\n            \"NOW());\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["edfcef4d.e7f2f"]]},{"id":"b312e946.78fde8","type":"switch","z":"8f56ebb1.75a6e8","name":"","property":"req.method","propertyType":"msg","rules":[{"t":"eq","v":"GET","vt":"str"},{"t":"eq","v":"POST","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":100,"wires":[["d2205eee.2c222"],["e02e8e8a.87c51"]]},{"id":"e02e8e8a.87c51","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"201","headers":{},"x":1100,"y":120,"wires":[]},{"id":"fea3e3a2.5044a","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/node-sensor-data/:id","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["f312c7a7.ecec78"]]},{"id":"f312c7a7.ecec78","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT Node","func":"msg.topic = \"SELECT * FROM sensor_data \" +\n            \"WHERE devid = \" + msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["edfcef4d.e7f2f"]]},{"id":"ffba6543.b38d08","type":"debug","z":"ce1fb428.aeac38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":300,"wires":[]},{"id":"391085fb.aafd7a","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT Nodes","func":"msg.topic = \"SELECT * FROM nodes \"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["edfcef4d.e7f2f"]]},{"id":"66835450.670dbc","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-nodes","method":"post","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["4020ef01.62716"]]},{"id":"4020ef01.62716","type":"function","z":"8f56ebb1.75a6e8","name":"INSERT Node","func":"msg.topic = \"INSERT INTO nodes \" +\n            \"VALUES (\" +\n            msg.payload.devid + \",\" +\n            msg.payload.lat + \",\" +\n            msg.payload.lng + \",\" +\n            \"\\'\" + msg.payload.street + \"\\'\" + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["edfcef4d.e7f2f"]]},{"id":"6d3e8e09.14354","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-nodes","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["391085fb.aafd7a"]]},{"id":"54ee3d2c.6ae044","type":"inject","z":"bd987ed0.bc81d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":160,"y":100,"wires":[["286cbe29.c49262"]]},{"id":"286cbe29.c49262","type":"function","z":"bd987ed0.bc81d","name":"Create Table","func":"msg.topic = \"CREATE TABLE nodes (devid varchar(16) not null, lat FLOAT(10,6) not null, lng FLOAT(10,6) not null, street varchar(255) not null, PRIMARY KEY (devid));\"\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["1767a422.d47acc"]]},{"id":"b8caba34.b7e528","type":"debug","z":"bd987ed0.bc81d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":100,"wires":[]},{"id":"1767a422.d47acc","type":"mysql","z":"bd987ed0.bc81d","mydb":"72df5694.0123e8","name":"","x":570,"y":100,"wires":[["b8caba34.b7e528"]]},{"id":"9ce66191.5b059","type":"function","z":"bd987ed0.bc81d","name":"Drop Table","func":"msg.topic = \"DROP TABLE nodes\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":380,"wires":[[]]},{"id":"b113efcb.848e2","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"400","headers":{},"x":1100,"y":180,"wires":[]},{"id":"825f0d7e.6a027","type":"catch","z":"8f56ebb1.75a6e8","name":"","scope":["edfcef4d.e7f2f"],"uncaught":false,"x":910,"y":180,"wires":[["b113efcb.848e2"]]},{"id":"8dd51137.cdf8c","type":"function","z":"8f56ebb1.75a6e8","name":"","func":"msg.payload.forEach( (object, i) => {\n    msg.payload[i] = {\n        type: 'feature',\n        properties: {\n            id: object.devid,\n            description: object.street\n        },\n        geometry: {\n            type: 'Point',\n            coordinates: [\n                object.lng,\n                object.lat\n            ]\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":60,"wires":[["b312e946.78fde8","10efeb25.b5e855"]]},{"id":"66a49088.37325","type":"switch","z":"8f56ebb1.75a6e8","name":"","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/sensor-nodes","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":140,"wires":[["8dd51137.cdf8c"],["b312e946.78fde8","10efeb25.b5e855"]]}]