api/data/.flows.json.backup
[{"id":"ce1fb428.aeac38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f56ebb1.75a6e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9863dd2.ad0df2","type":"ttn app","z":"","appId":"test-app-18519961","accessKey":"ttn-account-v2.l6X59GYMyTUmjjjpcekrr-DSOXg0H0gNvHDPoafQrLA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"72df5694.0123e8","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"ttn_test_db","tz":""},{"id":"d84ecba.bbb9738","type":"function","z":"ce1fb428.aeac38","name":"Convert Payload","func":"var tmp = {};\ntmp.payload = {\n    \"pedl\"   : msg.payload_fields.PersonLeft,\n    \"pedr\"   : msg.payload_fields.PersonRight,\n    \"cyclel\" : msg.payload_fields.CycleLeft,\n    \"cycler\" : msg.payload_fields.CycleRight,\n    \"temp\"   : msg.payload_fields.Temp,\n    \"devid\"  : msg.hardware_serial,\n};\nreturn tmp;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["edcb0cbb.32186","502fc63d.8314f8"]]},{"id":"c98966e.3ee7a98","type":"ttn uplink","z":"ce1fb428.aeac38","name":"","app":"9863dd2.ad0df2","dev_id":"test-device-18519961","field":"","x":120,"y":120,"wires":[["d84ecba.bbb9738","502fc63d.8314f8"]]},{"id":"c687dc9a.25386","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["660d1190.a50b7"]]},{"id":"d2205eee.2c222","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"200","headers":{},"x":740,"y":520,"wires":[]},{"id":"edfcef4d.e7f2f","type":"mysql","z":"8f56ebb1.75a6e8","mydb":"72df5694.0123e8","name":"ttn db","x":690,"y":200,"wires":[["b312e946.78fde8","c2731a27.7ec748"]]},{"id":"660d1190.a50b7","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT All","func":"msg.topic = \"SELECT * FROM sensor_data\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["edfcef4d.e7f2f"]]},{"id":"edcb0cbb.32186","type":"http request","z":"ce1fb428.aeac38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:1880/sensor-data","tls":"","proxy":"","authType":"basic","x":590,"y":120,"wires":[["502fc63d.8314f8"]]},{"id":"db231de7.8a21e","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-data","method":"post","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["720406fd.e0e5c8"]]},{"id":"720406fd.e0e5c8","type":"function","z":"8f56ebb1.75a6e8","name":"INSERT Sensor Data","func":"var time = Date.now()/1000|0;\n\nmsg.topic = \"INSERT INTO sensor_data (pedl, pedr, cycll, cyclr, temp, devid, date)\" +\n            \"VALUES (\" +\n            msg.payload.pedl + \",\" +\n            msg.payload.pedr + \",\" +\n            msg.payload.cyclel + \",\" +\n            msg.payload.cycler + \",\" +\n            msg.payload.temp + \",\" +\n            msg.payload.devid + \",\" +\n            \"FROM_UNIXTIME(\" + time + \"));\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["edfcef4d.e7f2f"]]},{"id":"b312e946.78fde8","type":"switch","z":"8f56ebb1.75a6e8","name":"","property":"req.method","propertyType":"msg","rules":[{"t":"eq","v":"GET","vt":"str"},{"t":"eq","v":"POST","vt":"str"},{"t":"eq","v":"PUT","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":560,"wires":[["66a49088.37325"],["e02e8e8a.87c51"],["e02e8e8a.87c51"],["e02e8e8a.87c51"]]},{"id":"e02e8e8a.87c51","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"201","headers":{},"x":740,"y":560,"wires":[]},{"id":"fea3e3a2.5044a","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/node-sensor-data/:id","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["f312c7a7.ecec78"]]},{"id":"f312c7a7.ecec78","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT Node","func":"msg.topic = \"SELECT * FROM sensor_data \" +\n            \"WHERE devid = \" + msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["edfcef4d.e7f2f"]]},{"id":"391085fb.aafd7a","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT Nodes","func":"msg.topic = \"SELECT n.devid, lat, lng, street, sum(pedl) as pedl, sum(pedr) as pedr, sum(cycll) as cycll, sum(cyclr) as cyclr FROM nodes n left join sensor_data sd on n.devid = sd.devid group by devid\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["edfcef4d.e7f2f"]]},{"id":"66835450.670dbc","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-nodes","method":"post","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["4020ef01.62716"]]},{"id":"4020ef01.62716","type":"function","z":"8f56ebb1.75a6e8","name":"INSERT Node","func":"msg.topic = \"INSERT INTO nodes \" +\n            \"VALUES (\" +\n            msg.payload.devid + \",\" +\n            msg.payload.lat + \",\" +\n            msg.payload.lng + \",\" +\n            \"\\'\" + msg.payload.street + \"\\'\" + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["edfcef4d.e7f2f"]]},{"id":"6d3e8e09.14354","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-nodes","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["391085fb.aafd7a"]]},{"id":"b113efcb.848e2","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"400","headers":{},"x":740,"y":600,"wires":[]},{"id":"8dd51137.cdf8c","type":"function","z":"8f56ebb1.75a6e8","name":"Convert to GeoJSON","func":"msg.payload.forEach( (object, i) => {\n    msg.payload[i] = {\n        type: 'feature',\n        properties: {\n            id: object.devid,\n            description: object.street,\n            total: object.pedl + object.pedr + object.cycll + object.cyclr\n        },\n        geometry: {\n            type: 'Point',\n            coordinates: [\n                object.lng,\n                object.lat\n            ]\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["d2205eee.2c222"]]},{"id":"66a49088.37325","type":"switch","z":"8f56ebb1.75a6e8","name":"","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/sensor-nodes","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":520,"wires":[["8dd51137.cdf8c"],["d2205eee.2c222"]]},{"id":"6bb20d4b.43efc4","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-nodes/:id","method":"put","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["6a367cc.6a88484"]]},{"id":"502fc63d.8314f8","type":"debug","z":"ce1fb428.aeac38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":220,"wires":[]},{"id":"3d506d23.ea6b82","type":"catch","z":"8f56ebb1.75a6e8","name":"","scope":[],"uncaught":false,"x":270,"y":620,"wires":[["b113efcb.848e2"]]},{"id":"c6876418.f4c7","type":"function","z":"8f56ebb1.75a6e8","name":"(test) UPDATE Sensor Data","func":"msg.topic = \"UPDATE sensor_data \" +\n            \"SET \" +\n            \"pedl = \" + msg.payload.pedl + \",\" +\n            \"pedr = \" + msg.payload.pedr + \",\" +\n            \"cycll = \" + msg.payload.cyclel + \",\" +\n            \"cyclr = \" + msg.payload.cycler + \",\" +\n            \"temp = '\" + msg.payload.temp +\n            \"' WHERE devid = \" + msg.payload.devid +\n            \" AND id = 6;\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":400,"wires":[[]]},{"id":"6a367cc.6a88484","type":"function","z":"8f56ebb1.75a6e8","name":"UPDATE Node","func":"msg.topic = \"UPDATE nodes \" +\n            \"SET \" +\n            \"lat = \" + msg.payload.lat + \", \" +\n            \"lng = \" + msg.payload.lng + \", \" +\n            \"street = \" + \"\\'\" + msg.payload.street + \"\\' \" + \n            \"WHERE devid = \" + msg.req.params.id + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["edfcef4d.e7f2f"]]},{"id":"8727cc47.1a617","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-nodes/:id","method":"delete","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["2f118b15.1c1c2c"]]},{"id":"2f118b15.1c1c2c","type":"function","z":"8f56ebb1.75a6e8","name":"DELETE Node","func":"msg.topic = \"DELETE FROM nodes \" +\n            \"WHERE devid = \" + msg.req.params.id + \";\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["edfcef4d.e7f2f"]]},{"id":"c2731a27.7ec748","type":"debug","z":"8f56ebb1.75a6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":360,"wires":[]},{"id":"1e15de77.fc072a","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/node-sensor-data/:id/:date","method":"get","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["1ec10d91.600d02"]]},{"id":"1ec10d91.600d02","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT Node & Date","func":"msg.topic = \"SELECT * FROM sensor_data \" +\n            \"WHERE devid = \" + msg.req.params.id +\n            \" AND date(date) = STR_TO_DATE('\" + msg.req.params.date + \"',%Y-%m-%d')\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["edfcef4d.e7f2f"]]}]