api/data/flows.json
[{"id":"ce1fb428.aeac38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f56ebb1.75a6e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9863dd2.ad0df2","type":"ttn app","z":"","appId":"test-app-18519961","accessKey":"ttn-account-v2.l6X59GYMyTUmjjjpcekrr-DSOXg0H0gNvHDPoafQrLA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"72df5694.0123e8","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"ttn_test_db","tz":""},{"id":"58e666fc.ed0fa8","type":"debug","z":"ce1fb428.aeac38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":200,"wires":[]},{"id":"d84ecba.bbb9738","type":"function","z":"ce1fb428.aeac38","name":"insert statement","func":"var tmp = {};\ntmp.payload = {\n    \"pedl\"   : msg.payload_fields.PersonLeft,\n    \"pedr\"   : msg.payload_fields.PersonRight,\n    \"cyclel\" : msg.payload_fields.CycleLeft,\n    \"cycler\" : msg.payload_fields.CycleRight,\n    \"temp\"   : msg.payload_fields.Temp,\n    \"devid\"  : msg.payload_fields.DeviceID,\n    \"time\"   : Date.now()\n    \n};\nreturn tmp;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["f72a4b5.1095db8","edcb0cbb.32186"]]},{"id":"f72a4b5.1095db8","type":"debug","z":"ce1fb428.aeac38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":60,"wires":[]},{"id":"e9cb9bd6.91d9a8","type":"debug","z":"ce1fb428.aeac38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]},{"id":"c98966e.3ee7a98","type":"ttn uplink","z":"ce1fb428.aeac38","name":"","app":"9863dd2.ad0df2","dev_id":"test-device-18519961","field":"","x":120,"y":120,"wires":[["58e666fc.ed0fa8","d84ecba.bbb9738"]]},{"id":"c687dc9a.25386","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["660d1190.a50b7"]]},{"id":"d2205eee.2c222","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"200","headers":{},"x":940,"y":140,"wires":[]},{"id":"edfcef4d.e7f2f","type":"mysql","z":"8f56ebb1.75a6e8","mydb":"72df5694.0123e8","name":"ttn db","x":570,"y":160,"wires":[["b312e946.78fde8"]]},{"id":"660d1190.a50b7","type":"function","z":"8f56ebb1.75a6e8","name":"SELECT","func":"msg.topic = \"SELECT * FROM sensor_data\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["edfcef4d.e7f2f"]]},{"id":"10efeb25.b5e855","type":"debug","z":"8f56ebb1.75a6e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":360,"wires":[]},{"id":"edcb0cbb.32186","type":"http request","z":"ce1fb428.aeac38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:1880/sensor-data","tls":"","proxy":"","authType":"basic","x":590,"y":120,"wires":[["e9cb9bd6.91d9a8"]]},{"id":"db231de7.8a21e","type":"http in","z":"8f56ebb1.75a6e8","name":"","url":"/sensor-data","method":"post","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["10efeb25.b5e855","720406fd.e0e5c8"]]},{"id":"720406fd.e0e5c8","type":"function","z":"8f56ebb1.75a6e8","name":"INSERT","func":"msg.topic = \"INSERT INTO sensor_data \" +\n            \"VALUES (\" +\n            msg.payload.pedl + \",\" +\n            msg.payload.pedr + \",\" +\n            msg.payload.cyclel + \",\" +\n            msg.payload.cycler + \",\" +\n            msg.payload.temp + \",\" +\n            msg.payload.devid + \",\" +\n            msg.payload.time + \");\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["edfcef4d.e7f2f","10efeb25.b5e855"]]},{"id":"b312e946.78fde8","type":"switch","z":"8f56ebb1.75a6e8","name":"","property":"req.method","propertyType":"msg","rules":[{"t":"eq","v":"GET","vt":"str"},{"t":"eq","v":"POST","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":160,"wires":[["d2205eee.2c222"],["e02e8e8a.87c51"]]},{"id":"e02e8e8a.87c51","type":"http response","z":"8f56ebb1.75a6e8","name":"","statusCode":"201","headers":{},"x":940,"y":180,"wires":[]}]