api/data/flows.json
[{"id":"ce1fb428.aeac38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f56ebb1.75a6e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9863dd2.ad0df2","type":"ttn app","z":"","appId":"test-app-18519961","accessKey":"ttn-account-v2.l6X59GYMyTUmjjjpcekrr-DSOXg0H0gNvHDPoafQrLA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"1bf1f8d.35e8c07","type":"mongodb3","z":"","uri":"mongodb://db:27017/test-ttn-db","name":"test-ttn-db","options":"","parallelism":"-1"},{"id":"58e666fc.ed0fa8","type":"debug","z":"ce1fb428.aeac38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":120,"wires":[]},{"id":"d84ecba.bbb9738","type":"function","z":"ce1fb428.aeac38","name":"insert statement","func":"var tmp = {};\ntmp.payload = {\n    \"pedl\"   : msg.payload_fields.PersonLeft,\n    \"pedr\"   : msg.payload_fields.PersonRight,\n    \"cyclel\" : msg.payload_fields.CycleLeft,\n    \"cycler\" : msg.payload_fields.CycleRight,\n    \"temp\"   : msg.payload_fields.Temp,\n    \"devid\"  : msg.payload_fields.DeviceID,\n    \"time\"   : Date.now()\n    \n};\nreturn tmp;","outputs":1,"noerr":0,"x":450,"y":40,"wires":[["f72a4b5.1095db8","212778f6.7168d8"]]},{"id":"f72a4b5.1095db8","type":"debug","z":"ce1fb428.aeac38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"e9cb9bd6.91d9a8","type":"debug","z":"ce1fb428.aeac38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":140,"wires":[]},{"id":"c98966e.3ee7a98","type":"ttn uplink","z":"ce1fb428.aeac38","name":"","app":"9863dd2.ad0df2","dev_id":"test-device-18519961","field":"","x":120,"y":120,"wires":[["58e666fc.ed0fa8","d84ecba.bbb9738"]]},{"id":"212778f6.7168d8","type":"mongodb3 in","z":"ce1fb428.aeac38","service":"_ext_","configNode":"1bf1f8d.35e8c07","name":"Insert to db","collection":"sensor-data","operation":"insertOne","x":635.1000595092773,"y":146.0000057220459,"wires":[["e9cb9bd6.91d9a8"]]}]